// _layout.scss
// ---------------------------------------------------------------------------//


.containerWrapper{
	padding: 90px 0px; 
}
.container{
	margin: 0 auto; 
	padding: 0px 2em; 
	//border: solid 1px $ltBlack; 
	@media (min-width: 960px){
		max-width: 1024px;
		margin: 0 auto;
		padding: 0px 2.5em;  
	}
}

//Core Partials
@import "_header";
@import "_homeBodySection";
@import "_footer";
