// _variables.scss

// ---------------------------------------------------------------------------//

@import "https://fonts.googleapis.com/css?family=Roboto:100,300i,400,400i,700";
$mainFont : 'Roboto', sans-serif;


// Main Colors ---------------- / 
$lveBlue      : #1F5B7C;
$fadedLveBlue : rgba(31, 91, 124, 0.96); 

// Secondary Colors ---------- / 
// $purple        : #3E2B3D;


// Breakpoints --------------- / 
//$mobileSmall   : 320;
