.btn{ // normal white background black text
	display:inline-block;
	background-color:white;
	padding: 15px;
	color:black;
	text-align: center;

	-webkit-transition: background-color 0.7s ease-out;
    -moz-transition: background-color 0.7s ease-out;
    -ms-transition: background-color 0.7s ease-out;
    -o-transition: background-color 0.7s ease-out;
    transition: background-color 0.7s ease-out;

	&:hover{
		color:white;
		background-color: black;
	}

	&--youtube{
		background-color: #ec3f35;
    	color: white;
    	padding: 15px 90px;
    	margin-top: 11px;
		font-weight:bold;
		text-transform: uppercase;
		font-size: 1em;

		&:hover{
			color:#ec3f35;
			background-color: black;
		}
	}

	&--connect-form{
		background-color: black;
    	color: white;
    	padding: 15px 90px;
    	margin-top: 11px;
		font-weight:bold;
		text-transform: uppercase;
		font-size: 1em;
		text-align: center;


		&:hover{
			color:#ec3f35;
			background-color: black;
		}
	}

}