.follow-me{

	&__title{
		@include at-media-breakpoint(720px) {
			font-size:50px; 
		}

	}

	&__social-group{
		margin-top:60px; 
		display:flex;
     	//justify-content: center;
     	flex-direction: column;

    	@include at-media-breakpoint(720px) {
    		display: flex;
			flex-wrap: no-wrap;
			justify-content: center;
			flex-direction: row;
			//flex-basis: auto;
    	}


		&__item{
			display:block;
			color:white;
			text-align:center;
			margin: 10px auto;


			&__logo{
				display: block;
				width:125px;
				height:125px;
				border-radius: 125px; 
				background-color: white;
				margin: 0 auto 0 auto; 

				&:hover{
					background-color: darkcyan;
				}

				&--instagram:hover{
					background-color: #125688;
				}

				&--youtube:hover{
					background-color: #e52d27;
				}
				&--facebook:hover{
					background-color: #3b5a99;
				}

				&--linkedin:hover{
					background-color: #0d7bb7;
				}

				&__img{
					width: 60px;
					height: 60px;
					position: relative;
    				top: 24%;
				}

			}

			&__text{
				margin-top: 15px;
			    margin-bottom: 30px;
			    line-height: 1.6em;
			    text-align:center;
    			font-size: 16px;
    			font-weight: bold;
    			max-width: 320px;
    			margin: 15px auto;
    			padding: 0 15px;
			}
		}
	}

}